semestralka/MilostnyDopisClient/src/gui/userRecords.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- ============================== ZAKLADNI DATOVE TYPY ===================== -->
    <xs:element name="id" type="xs:string"/>
    <xs:element name="nick" type="xs:string"/>
    <xs:element name="server" type="xs:string"/>
    <xs:element name="port" type="xs:integer"/>

    <xs:element name="userRecord">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="nick"/>
                <xs:element ref="server"/>
                <xs:element ref="port"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="userRecords">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="userRecord" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ============================== KOŘENOVÝ ELEMENT ======================== -->
    <xs:element name="ROOT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="userRecords" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

