semestralka/MilostnyDopisClient/src/game/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="name" type="xs:string"/>
    <xs:element name="id" type="xs:string"/>
    <xs:element name="order" type="xs:integer"/>
    <xs:element name="player">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="order"/>
                <xs:element ref="name"/>
                <xs:element ref="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="playersCollection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="player" minOccurs="1" maxOccurs="4"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="gameStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="playersCollection"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

